[Unit]
Description=Plura agent service
After=network.target network-online.target

[Service]
Environment=https_proxy=http://192.168.10.253:3128
WorkingDirectory=/etc/plura/
Type=simple
ExecStart=/usr/local/sbin/plurad -start
ExecStop=/usr/local/sbin/plurad -stop
ExecStop=/etc/plura/plura.sh fstop
Restart=always

[Install]
WantedBy=multi-user.target
